/* Universal Styling (For whole HTML) */

*
{
   margin:0px;
   padding:0px;
   font-family: Arial;    /* Closest to Amazon's own font */
   box-sizing: border-box;

}

/* a) Websites's Navbar Styling */


.navbar
{
    display: flex;
    justify-content: space-evenly;
    height: 60px;
    background-color: #0f1111;
    color: white;
}

/* 1) Navlogo Styling */

.navlogo
{
    width: 100px;
    height: 50px;
}

#logo
{
    width: 100%;
    height: 100%;
    background-image: url(Projectimages/amazon_logo.png);
    background-size: cover;
}

/*If we dont want our "logo" to move then we will first make a transperent border */

.border
{                                          
    border: 1.5px solid transparent;      
}

.border:hover
{
    border: 1.5px solid white;
}

/* 2) Navlocation Styling */

.navlocation
{
    width: 90px;
    height: 50px;
}

#location
{
    margin-top:10px;
    width: 100%;
    height: 100%;
}

#ut
{
    font-size: 0.7rem;
    color: #cccccc;
    margin-left: 12.2px;
}

#lt
{
    font-size: 0.9rem;
    color: #ffffff;
    margin-left:2px;
    font-weight:600;

}

#lti
{
display: flex;
}

/* 3) NavSearch Styling */

.navsearch:hover
{
    border:2px solid #febd68;
}

.navsearch
{   
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3px;
    width: 620px;
    height: 50px;
    border-radius: 5px;
}

#selecttag
{
    width: 50px;
    height: 40px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    background-color: #f3f3f3;
    text-align: center;
}

#inputtag
{
    width: 520px;
    height: 40px;
    border: none;
    font-size: 0.9rem;
}

#buttontag
{
    background-color: #febd68;
    font-size: 1.3rem;
    width: 50px;
    height: 40px;
    border:none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* 4) Navlanguage Styling */

.navlang
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 50px;
    font-size: 14px;
}

#navlangflag
{
    width: 22px;
    height: 17px;
    background-image: url(Projectimages/flag.png);
    background-size: cover;
}

#navlantext
{
    margin-left: 4px;
    font-weight:600;

}

/* 5)Navsignin styling */

.navsignin
{
 display: flex;   
 flex-direction: column;
 justify-content:center;
 align-items: flex-start;
 width:135px;
 height:50px;
}

#signin-uppertext
{
    font-size: 12px;
}

#signin-lowertext
{
    font-size: 14px;
    font-weight:600;
}

/* 6)Navreturn and orders styling */

.navrao
{
width: 77px;
height: 50px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
}

#rao-uppertext
{
    font-size: 12px;
}

#rao-lowertext
{
    font-size: 14px;
    font-weight:600;

}

/* 7)NavCart */

.navcart
{
    height:50px;
    width:85px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#carticon
{
font-size: 25px;
}

#carttext
{
    font-size: 14px;
    margin-left: 2px;
    margin-top: 10px;
    font-weight:600;

}

  
  /*  Website's 2nd bar Styling    */

.secondbar
{
display: flex;    
justify-content: space-evenly;
align-content: center;
height: 40px;
background-color: #1d2020;
color: white;
}

/* 1)menu Styling  */
.menu
{
    height: 40px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu p
{
    font-size: 14px;
    margin-left: 4px;
}

.menu i
{
    font-size: 14px;
}

.menu a
{
    color: white;
    text-decoration: none;
}

/* 2)div containing 5 anchor tags styling */

.fiveanchors
{
    height: 40px;
    width: 80%;
    display: flex;
    align-items:center;
    justify-content:flex-start;   
}

.fiveanchors a
{
    color: white;
    text-decoration: none;
    font-size: 14px;
    display: inline-block;
    padding: 10px;  /*Used padding instead of setting height to 40px*/
}

#td
{
    width: 103px;
}

#cs
{
    width: 139px;
}

#r
{
    width: 80px;
}

#gc
{
    width: 90px;
}

#s
{
    width: 42px;
}

/* 3)Deals Styling */

.deals
{
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deals a
{
    text-decoration: none;
    color: white;
    font-weight:600;

}

/* Webite;s main section styling */

/* 1) Website's Hero section styling */

.herosection
{
    background-image: url(Projectimages/hero_image.jpg);
    background-size: cover;
    height: 300px;
}

/* 2) Website's Shop section styling */

.shop-section
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}

.box
{
    /* border: 2px solid black; */
    background-color: white;
    height: 400px;
    width: 23%;
    margin-top: 15px;
    padding: 20px 0px 15px;
}

.box-content
{
    margin-left: 16px;
    margin-right: 16px;

}   

.box-content p
{
    color: #007185;
}


.box-image
{
    background-image: url(box1_image.jpg);
    background-size: cover;
    height: 300px;
    margin-top: 16px;
    margin-bottom: 16px;
}

/* box 4 styling */

.box4
{
    /* background-color: white; */
    height: 400px;
    width: 23%;
    margin-top: 15px;
    /* padding: 20px 0px 15px; */

    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
}

.upperbox4
{
    /* border: 2px solid black; */
    height: 130px;
    margin-bottom: 16px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.upperbox4 pre
{
  color: #0f1111;
  font-size: 21px;
  font-weight: 600;
  /* text-align: center; */
  margin-top: 10px;
  margin-right: 90px;
}

.upperbox4 button
{
    width: 270px;
    height: 29px;
    background-color:#ffd814;
    border-radius: 7px;
    border: none;
    padding: 0px 10px 0px 11px;
}

.lowerbox4
{
    /* border: 2px solid black; */
    height: 250px;
    width: 95%;
    margin-left: 6px;
    background-image: url(Projectimages/newbox4.jpg);
    background-size: cover;
}



/* box 8 styling */
.box8-images
{
    height: 300px;
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.b8imgs
{
    width: 140px;
    height: 120px;
    /* border: 2px solid black; */
}

#img1p , #img3p
{
    margin-bottom: 30px;
    color: #0f1111;
    font-size: 12px;
}

#img2p , #img4p
{
    color: #0f1111;
    font-size: 12px;
}


.img1
{
    margin-right: 10px;
    background-image: url(Projectimages/jeans_box8.jpg);
    background-size: cover;
}

.img2
{
    background-image: url(Projectimages/tops_box8.jpg);
    background-size: cover;
}

.img3
{
    background-image: url(Projectimages/dresses_box8.jpg);
    background-size: cover;
}

.img4
{
    background-image: url(Projectimages/shoes_box8.jpg);
    background-size: cover;
}


/* c) Websites's Footer styling */

/* 1) footerpanel1 */
.footerpanel1
{
    background-color: #334355;
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    margin-top: 5px;
}

/* 2) footerpanel2 */
.footerpanel2
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #222f3d;
    height: 300px;
}

.panel2
{
 width: 23%;
color: white; 
font-size: 14px;
}

.panel2headings
{
    font-size: 16px;
    padding: 6px 0px 14px;
    margin-top:15px ;
    font-weight: bold;
}

.footerpanel2 p
{
    margin-bottom: 10px;
    color: #dddddd;
}

hr
{
    border: 1px solid white;
}

/* 3) footerpanel3 */

.footerpanel3
{
    background-color: #222f3d;
    height: 80px;
    font-size: 12px;
    color: rgb(211, 211, 211);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 0.1px solid rgb(211, 211, 211);
}
.fp3logo
{
    background-image:url(Projectimages/amazon_logo.png);
    background-size:contain;
    width:100px;
    height:70px;
}

.fp3lang
{
    border: 0.1px solid rgb(211, 211, 211);
    border-radius: 2px;
    width:117px;
    height:34px;
    margin-right: 5px;
    margin-left: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.fp3lang i
{
    margin-left:5px ;
    margin-right: 8px;
}

.fp3currency
{
    
    border: 0.1px solid rgb(211, 211, 211);
    border-radius: 2px;
    width:151px;
    height:35px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: start;

}

.fp3currency #dollar
{
    margin-left:5px ;
    margin-right: 8px;
}

.fp3country
{
    border: 0.1px solid rgb(211, 211, 211);
    border-radius: 2px;
    width:142px;
    height:34px;
    margin-right: 5px;
    display: flex;
    align-items: center;

}

.fp3country i
{
    margin-left:5px ;
    margin-right: 8px;
}

/* 4) footerpanel4 */

.footerpanel4
{
    height: 60px;
    background-color: #131a22;
    color: #dddddd;
    font-size: 12px;
}
.fp4linesstyling
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fp4upperline p
{
    padding-right: 8px;
    margin-top: 10px; 
}
.fp4lowerline
{
    margin-top: 2px;
}


